/* APLICADO PARA TUDO */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BARRA DE NAVEGAÇÃO */
body > header {
    background-color: #000080;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: white;
    text-decoration: none;
}


/*ARTIGOS*/
.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article p {
    text-align: justify;
}

.articles article a {
    background-color: lightskyblue;
    color: black;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}


/*SEÇÃO DE SPORTS*/
#sports {
    background-color: rgb(185, 199, 222);
    padding: 30px 0 50px 0;
}

#sports .articles article a {
    background-color: rgb(111, 157, 202);
}


/*SEÇÃO DE ECONOMIA */
#economy {
    background-color: rgb(232, 232, 119);
    padding: 45px 0 50px 0;
}

#economy .articles article a {
    background-color: rgb(238, 161, 17) ;
}


/*SEÇÃO DE ENTRETENIMENTO */
#entretenimento {
    background-color: rgb(241, 125, 164);
    padding: 45px 0 50px 0;
}

#entretenimento .articles article a {
    background-color: rgb(224, 17, 128);
}


/*SEÇÃO DE TECNOLOGIA */
#tecnologia {
    background-color: rgb(151, 155, 220);
    padding: 45px 0 50px 0;
}

#tecnologia .articles article a {
    background-color: rgb(71, 71, 233);
}

/*FOOTER*/
footer {
    background-color: #0d0d95;
    color: white;
    height: 50px;
}

footer div {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}